* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Bright-orange: #e38826;
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  --white: #fff;
}

body {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

.wrapper {
  height: 100%;
  margin: 0;
  background: #f1f1f1;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font: 15px;
}

.main {
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cards {
  height: 26rem;
  max-width: 320px;
  text-align: left;
  padding: 0.5rem 1rem;
  font-size: 15px;
}

.cards p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: 'Lexend Deca', sans-serif;
}

.cards__first {
  background-color: var(--Bright-orange);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.cards__second {
  background-color: var(--Dark-cyan);
}

.cards__third {
  background-color: var(--Very-dark-cyan);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.cards img {
  margin-top: 1rem;
}

.title {
  margin: 2rem 0;
  text-transform: uppercase;
  font-family: 'Big Shoulders Display', cursive;
}

.btn {
  height: 2.5rem;
  width: 8rem;
  margin-top: 4rem;
  border: 2px solid #fff;
  border-radius: 20px;
  display: inline;
  vertical-align: middle;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  cursor: pointer;

  background-color: transparent;
  color: var(--white);
}

/* frontend mentor stuff */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* 
  Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  html,
  body {
    height: auto !important;
    min-height: 100vh;
    overflow-x: hidden;
  }

  .wrapper {
  }

  .main {
    /* height: auto; */

    padding: 6rem 0;
    flex-direction: column;
  }

  .cards__first {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
  }
  .cards__third {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) 
  */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) 
  */

@media only screen and (min-width: 992px) {
}

/* Extra large devices (large 
  laptops and desktops, 
  1200px and up) */
/* @media only screen and (min-width: 1200px) {
} */
